<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">
      <i class="fa fa-bars"></i>
    </a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
      <li class="nav-link"><a href="{{ site.baseurl }}/" class="logo"><strong>Home</strong></a>
      <li class="nav-link"><a href="https://tianjiahuang.github.io/research"><strong>Research</strong></a>
      <li class="nav-link"><a href="https://tianjiahuang.github.io/Publications"><strong>Publications</strong></a>
      <li class="nav-link"><a href="https://tianjiahuang.github.io/news"><strong>News</strong></a>
      </ul>
    </nav>
  </div>
</header>

<!-- JavaScript to highlight the current page -->
<script>
   // Get the current page's URL
   const currentPage = window.location.href;
 
   // Get all navigation links
   const navLinks = document.querySelectorAll('.nav-link a');
 
   // Loop through each navigation link
   navLinks.forEach(link => {
     // Check if the link's href matches the current page URL
     if (link.href === currentPage) {
       // Add the 'current' class to the matching link
       link.classList.add('current');
     }
   });
 </script>
 </body>
