<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
        {{ content }}
    </div>

    {% include footer.html %}
    
   <!-- JavaScript to highlight the current page -->
   <script>
      // Get the current page's URL
      const currentPage = window.location.href;
   
      // Get all navigation links
      const navLinks = document.querySelectorAll('.nav-link a');
   
      // Loop through each navigation link
      navLinks.forEach(link => {
      // Check if the link's href matches the current page URL
      if (link.href === currentPage) {
         // Add the 'current' class to the matching link
         link.classList.add('current');
      }
      });
   </script>
  </body>

</html>
